body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c99a7;
}

.calculator-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #0f0e0e;
    width: 100%;
    max-width: 400px;
}

.display {
    background-color: #444;
    color: #fff;
    padding: 5px;
    text-align: right;
    font-size: 2rem;
    margin-bottom: 5px;
    /* Adds */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Comfortaa", sans-serif;
}

.buttons button {
    flex: 1 0 calc(25% - 10px);
    margin: 5px;
    height: 50px;
    background-color: #362c2c89;
    color: #fff;
    font-size: 20px;
}

.buttons button.clear {
    flex: 2 0 calc(50% - 10px);
    background-color: #75418a;
    color: #e38dc8;
}

.buttons button.clear:hover {
    background-color: #914caf;
}

.buttons button.equals {
    background-color: #00407c;
    color: #a5aef59d;
}

.buttons button.equals:hover {
    background-color: #02509a;
}

.buttons button.operators {
    background-color: #575364;
    color: #cac8cf;
}

.buttons button.operators:hover {
    background-color: #787388;
}

.calculator-button {
    transition: all 0.3s ease;
    transform: scale(1);
}

.calculator-button:hover {
    background-color: #545554;
    transform: scale(1.1);
}

.display p {
    font-family: "Comfortaa", sans-serif;
}

.user-input {
    color: orange;
    margin: 0 0;
}

.result {
    color: green;
    margin-top: 7%;
}